* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    /* because we don't want the size of our box to change by the border or 
    the padding quantity  */
}
body {
    background-color: rgb(141, 151, 160);
    /* if it was * then the background color of the ul would not be displayed */
}
ul {
    /* background-color: lightsalmon; */
    list-style-type: none;
    cursor: pointer;
    text-align: center;
    transition-duration: 0.5s;
    margin-top: 70px;
}
li {
    display: inline-block;
    font-size: 22px;
    padding: 10px;
    background: rgb(241, 241, 129);
    border-radius: 20px;
    position: relative;
}
li:nth-child(odd) {
    transform: perspective(200px) rotateY(25deg);
    /* the more the number of perspective,
    the less it moves in a 3D way */
    /* the rotateY will move it around the Y orbit */
    box-shadow: -2px 2px 7px 1px rgb(22, 22, 22);
}
li:nth-child(even){
    transform: perspective(300px) rotateY(-25deg);
    /* - will make it move to the right and + to the left; */
      box-shadow: 2px 2px 7px 1px rgb(22, 22, 22);
}
a {
    text-decoration: none;
    color:white;
    width: 100%;
}
li:hover{
    background: rgb(141, 151, 160);
    transform: rotateY(0);
    /* so it touches the Y orbit now */
    box-shadow: 0px 0px 0px;
    text-shadow: 2px 2px 1px rgb(241, 241, 129);
    
    /* color: white;
    this color was not relflected and I don't know why */
}
p{
    font-family: Century Gothic;
    letter-spacing: 5px;
    font-size: 30px;
    color:black;
    font-weight: 500;
}
#services {
    left: -50px;
}
#contacts {
    left: -6px;
}
#about {
    left: -6px;
}
#home {
    left: -50px;
}